<!DOCTYPE html>
<html>

<head>
    <title>Sign-up</title>
    <link rel="stylesheet" href="login-signup-style.css">
</head>

<body>
    <div class="main">
        <h1><a href = "welcome-page.html" class="logo-link">FitTrack</a></h1>
        <h3>Enter your sign-up credentials</h3>

        <form action="login.html" method="post">
            <label for="first">
                Name:
            </label>
            <input type="text" name="name" 
                placeholder="Enter your Name" required>

            <label for="first">
                Email:
            </label>
            <input type="text" name="email" 
                placeholder="Enter your Email" required>

            <label for="password">
                    Password:
            </label>
            <input type="password" name="password" 
                    placeholder="Enter your Password" required>

            <label for="confirm-password">
                    Confirm Password:
            </label>
            <input type="password" name="confirm-password" 
                placeholder="Re-enter your Password" required>
            
            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
        <p>Already have an account?
            <a href="login.html" style="text-decoration: none;">
                Login
            </a>
        </p>
    </div>
</body>
</html>
